<?xml version="1.0" encoding="UTF-8" ?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.infragistics.healthcare"
    versionCode = "10"
    version     = "1.0.0" >
  
  <name>Personal Health Tracker</name>
  
  <description>
    The Personal Health Tracker sample demos using Ignite UI inside the PhoneGap framework for native-like, installed app experiences.
  </description>
  
  <author email="sttorodov@infragitics.com" href="http://infragistics.com">
    Infragistics.com
  </author>

  <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
  <preference name="permissions" value="none"/>

  <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
  <content src="index.html" />

  <!-- Customize your app and platform with the preference element. -->
  <preference name="loglevel" value="ERROR" /> <!-- Log level: ERROR, WARN, INFO, DEBUG, VERBOSE  (default=ERROR) -->
  <preference name="phonegap-version" value="3.1.0" /> <!-- all: current version of PhoneGap -->
  <preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
  <preference name="android-minSdkVersion" value="17" />

  <!-- Plugins -->

  <!-- Core plugins -->
  <gap:plugin name="org.apache.cordova.globalization" />

  <!-- Third party plugins -->
  <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
  <!-- 
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
  -->

  <!-- Define app icon for each platform. -->
  <icon src="icon.png" />
  <icon src="assets/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
  <icon src="assets/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
  <icon src="assets/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
  <icon src="assets/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

  <icon src="assets/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
  <icon src="assets/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
  <icon src="assets/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
  <icon src="assets/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />

  <icon src="assets/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
  <icon src="assets/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

  <!-- Define app splash screen for each platform. -->
  <gap:splash src="assets/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="assets/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="assets/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="assets/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

  <gap:splash src="assets/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
  <gap:splash src="assets/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
  <gap:splash src="assets/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
  <gap:splash src="assets/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />

  <gap:splash src="assets/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />

  <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
  <access origin="*"/>
  <!-- allow local pages -->
  <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    -->
  
</widget>